node_modules/
**/node_modules/
.next/
dist/
build/
bin/
obj/
lib/
.env

# Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/

# Build
build/

# IDE
.idea/
.vscode/

# Android
android/.gradle/
android/app/debug
android/app/profile
android/app/release

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec

# Logs
*.log